@import './base/base';
@import './base/settings';
@import './base/custum';

.fa-cog {
    color: white;
  }
.navbutton:hover {
  background-color: inherit !important;
  border-style: none !important;
}
.cart-primg {
  max-width: 100%;
}
.cart-primg-cnt {
  width: 200px;
}

.loader {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 248, 248, 0.5); /* Black background with opacity */
  z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#spin {
  position: absolute;
  font-size:48px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}



