// Colors
$color-1: #D5D4D0;
$color-2: #0F1218;
$color-3: #FFFFFF;
$color-4: #BB0000;
$color-5: #293448;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
